# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=tubes_ca_db

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-16-digit-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME=ICLABS - Peminjaman Lab

# Konfigurasi Fonnte & Admin
FONNTE_TOKEN=TOKEN_PANJANG_ANDA_DISINI
WA_ADMIN=0821xxxxxxxx