Options -Multiviews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Custom Error Pages
ErrorDocument 404 /Sistem-Peminjaman-Lab/index.php?url=error/show404
ErrorDocument 403 /Sistem-Peminjaman-Lab/index.php?url=error/show403
ErrorDocument 401 /Sistem-Peminjaman-Lab/index.php?url=error/show401
ErrorDocument 500 /Sistem-Peminjaman-Lab/index.php?url=error/show500
ErrorDocument 503 /Sistem-Peminjaman-Lab/index.php?url=error/show503